<mat-dialog-content>
  <section class="main">
    <!-- <p class="title">
      Energy Settings
    </p> -->
    <mat-card-content>
        <h2 class="example-h2">Energy Settings</h2>
        <p>Allow your DexGrid Energy Agent to manage your appliances, potentially saving you up to $789 per year.</p>
        <section class="example-section">
          <mat-slide-toggle
              class="example-margin"
              [color]="color"
              (change)="setACValue(AC, $event)"
              value="checked"
              #AC
              >
            Control Air Conditioner
          </mat-slide-toggle>
        </section>

        <section class="example-section">
            <mat-slide-toggle
                class="example-margin"
                [color]="color"
                (change)="setHeaterValue(heater, $event)"
                #heater
                >
              Control Water Heater
            </mat-slide-toggle>
          </section>

          <section class="example-section">
              <mat-slide-toggle checked
                  class="example-margin"
                  [color]="color"
                  [disabled]="disabled"
                  #washer
                  (change)="setWasherValue(washer, $event)"
                  >
                Control Washing Machine
              </mat-slide-toggle>
            </section>
            
      </mat-card-content>
  </section>

</mat-dialog-content>
