#footer1 {
    background-color: black;
    height: 10rem;
    width: 100%;
    position: relative;
    // bottom: 0;
    border-top: 1px solid #bbb;

    p {
        color: white;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
    }
}