#foot {
    background-color: black;
    height: 7rem;
    // width: 100%;
    // position: relative;
    border-top: 0.3rem solid #bbb;
    color: white;
    padding: 0.5rem 0.7rem;
    margin-top: 2em;
}

#title {
    
    p {
        color: white;
        text-align: center;
        margin-top: 0;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 0.1em;
        font-size: 1.5rem;
    }
}

#contact {
    color: #777;
    font-weight: bold;
    line-height: 1.4;
    margin-left: 0.5rem;

    p {
        margin-top: 0.1rem;
        margin-bottom: 0.1rem;
    }
}