.slider {
    width: 15em;
}

.recs {
    background-color: rgba(111, 111, 224, 0.534);
    padding-top: 1em;
    padding-left: 1em;
    padding-bottom: 2em;
}

.transferb {
    margin-bottom: 1em;
}

#transferb {
    margin-left: 0.5em;
}