


  <!-- <mat-slider
  class="slider"
  [disabled]="disabled"
  [invert]="invert"
  [max]="max"
  [min]="min"
  [step]="step"
  [thumbLabel]="thumbLabel"
  [tickInterval]="tickInterval"
  [vertical]="vertical"

  [(ngModel)]="recs">
  </mat-slider> -->

  <mat-card class="recs">
    <p class="card-title">Mint New RECs:</p>

    <mat-card-content>
      <mat-form-field>
        <input matInput #Amount #rectransfered type="number" name="RECs" id="recs" placeholder="How many RECs?">
      </mat-form-field>

      <button mat-raised-button color="warn" id="transferb" (click)="mintRecs(Amount.value)" for="rectransfered">Mint Rec</button>
    </mat-card-content>
  </mat-card>

