
  <!-- <div id="topwrap">
    <div id="top">
      <div id="topinner">
        <div id="topcontent">
          <a href="mailto: info@dexgrid.io">info@dexgrid.io</a>
        </div>
      </div>
    </div>
    <div id="download">
      <a routerLink="download">Download the App</a>
    </div>
  </div> -->

  <div id="siteheader">
      <div id="site-logo">
        <div id="site-logo-inner">
          <a routerLink="">
            <img id="logophoto" routerLink="" src="../../assets/DexGrid_FullLogo.png" alt="">
          </a>
        </div>
      </div>
    <div class="demobuttonbar">
      <button mat-button id="demobutton" routerLink="/demo">
          Product Demo
          <mat-icon aria-hidden="false" aria-label="keyboard_arrow_right icon">keyboard_arrow_right</mat-icon>
      </button>
      <!-- <button mat-button [matMenuTriggerFor]="menu">Portals
          <mat-icon aria-hidden="false" aria-label="keyboard_arrow_down icon">keyboard_arrow_down</mat-icon>
        </button> -->
    </div>
  </div>
