
<body>
  <div id="topwrap">
    <div id="top">
      <div id="topinner">
        <div id="topcontent">
          info@dexgrid.io
        </div>
      </div>
    </div>
  </div>

  <div id="siteheader">
    <div id="siteheader">
      <div id="site-logo">
        <div id="site-logo-inner">
          <a routerLink="">
            <img routerLink="" src="../../assets/large_logo.PNG" alt="">
          </a>
        </div>
      </div>
    </div>
    <div class="demobuttonbar">
      <button id="demobutton" routerLink="/market">
          Market Demo
      </button>
    </div>
  </div>
</body>
