
  <div id="topwrap">
    <div id="top">
      <div id="topinner">
        <div id="topcontent">
          <a href="mailto: info@dexgrid.io">info@dexgrid.io</a>
        </div>
      </div>
    </div>
    <div id="download">
      <a routerLink="download">Download the App</a>
    </div>
  </div>

  <div id="siteheader">
      <div id="site-logo">
        <div id="site-logo-inner">
          <a routerLink="">
            <img id="logophoto" routerLink="" src="../../assets/DexGrid_FullLogo.png" alt="">
          </a>
        </div>
      </div>
    <div class="demobuttonbar">
      <button id="demobutton" routerLink="/market">
          Product Demo
      </button>
    </div>
  </div>
