<body>
  <div>
    <div id="center-img">
      <img class="img" src="../../assets/Background.png" alt="">
    </div>

    <div id="summary">
      <h2>What We Do</h2>
      <hr>
      <p>
        We see electric cooperatives, microgrids and other forms of distributed 
        energy resources (DERs) as living and growing organisms. To thrive, it 
        needs to be matched with a decentralized operating system. The lack of 
        proper governance and payments channels are currently limiting their 
        true potential.
      </p>
      
      <p>
        As the system operator, the brain, DexGrid is the virtual utility that 
        promotes and facilitates their organic growth. We promote incentives 
        for these organisms to scale. We facilitate self-governance and automatic 
        value exchange. We are the virtual utility for distributed energy.
      </p>

      <p>
        We concentrate our effort in the Caribbean, starting with our home, 
        Puerto Rico.
      </p>
    </div>

    <div class="wrap">
      <div class="wrapcontainer">
        <div class="row">
          <div class="rowelement">
            <div class="rowcolumn">
              <div class="widget">
                <div class="content">
                  <h3><span>Wholesale</span></h3>
                  <p>Users buy and sell energy on order books facilitated through DexGrid. 
                    This pricing model provides incentives to generate low cost power and 
                    compensate grid stability.</p>
                </div>
              </div>
            </div>
          </div>

          <div class="rowelement">
              <div class="rowcolumn">
                <div class="widget">
                  <div class="content">
                    <h3><span>Opt-In</span></h3>
                    <p>Flexibility and user incentives are important to us. Energy consumers 
                      can select preferred terms and payment plans to save even more money on 
                      their power bill. Energy producers have now the opportunity to gain even 
                      more exposure to their neighborhoods.</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="rowelement">
                <div class="rowcolumn">
                  <div class="widget">
                    <div class="content">
                      <h3><span>Security & Simplicity</span></h3>
                      <p>Our technology provides customers with an encrypted wallet offering 
                        high-end security for their funds. Payments are processed automatically 
                        on their behalf in real-time reducing credit risk and costly late 
                        charges.</p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
      </div>
    </div>

    <div id="signup">
      <h2>Let's Work Together</h2>
      <hr>
      <p>Now's the time to do something about our kids' future!
        We are currently expanding our partnerships with leading energy players 
        in the Caribbean.
        If you are a project developer, investor, landlord, or if you have a specific 
        interest in this field, let's connect!</p>
    </div>
  </div>
</body>