<app-demotbar></app-demotbar>

<!-- <div id="drawer">
    <app-drawer></app-drawer>
  </div> -->

<div id="general">

  <div id="cover" *ngIf="nothing">
    <h1>The DexGrid Portal</h1>
    <!-- <img id="market_photo" src="../../assets//DexGrid Market.png" alt=""> -->
    <hr>

    <!-- <div class="button-row" *ngIf="auth.user$ | async as user; else default">
      <button mat-fab color="primary" (click)="reg()">Regulator</button>
      <button mat-fab color="primary" (click)="cus()">Customer</button>
      <button mat-fab color="primary" (click)="gop()">Grid Operator</button>
      <p id="welcome">Welcome back to the portal {{ user.Profile.displayName }}!</p>
    </div>

    <ng-template class="button-row" #default> -->
      <div class="button-row">
          <button mat-fab color="primary" (click)="reg()">Regulator</button>
          <button mat-fab color="primary" (click)="cus()">Customer</button>
          <button mat-fab color="primary" (click)="gop()">Grid Operator</button>
          <!-- <p id="welcome">Welcome back to the portal {{ auth.user$.Profile.displayName }}!</p> -->
      </div>
    <!-- </ng-template> -->
  </div>

  <div id="market">
    <!-- <div id="options">
      <button id="regulator" (click)="reg()">Regulator</button>
      <button id="customer" (click)="cus()">Customer</button>
    </div> -->
  
    <div *ngIf="should_open_reg;">
      <app-regulator></app-regulator>
      <!-- <ng-template #empty>Nothing Opened</ng-template> -->
    </div>
  
    <div *ngIf="should_open_cus;">
      <app-customer></app-customer>
      <!-- <ng-template #empty>Nothing Opened</ng-template> -->
    </div>

    <div *ngIf="should_open_gop;">
      <app-goperator></app-goperator>
      <!-- <ng-template #empty>Nothing Opened</ng-template> -->
    </div>
  </div>
</div>

<!-- <app-footer></app-footer> -->
