h1 {
    margin: 0.5em 1rem;
}

#drawer {
    width: 15em;
    display: flex;
    grid-row: 2/4;
    grid-column: 1;
    z-index: 1;
    height: 100%;
}

#cover {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

#market_photo {
    width: 80vw;
    height: auto;
    text-align: center;
    margin-right: auto;
    margin-left: auto;

    @media only screen and (min-width: 600px) {
        width: 60vw;
    }
}

#market {
    margin-bottom: 2em;
}

#options {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

#regulator {
    margin-top: 3rem;
    margin-right: 2rem;
    border-radius: 1.5rem;
    width: 10rem;
    height: 2rem;
    padding: 0rem;
    border: 0.1rem,rgb(144, 138, 138);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color: rgb(78, 235, 57);
    cursor: pointer;
    font-size: 0.9rem;
}

#customer {
    margin-top: 3rem;
    margin-right: 2rem;
    border-radius: 1.5rem;
    width: 10rem;
    height: 2rem;
    padding: 0rem;
    border: 0.1rem,rgb(144, 138, 138);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color: rgb(78, 235, 57);
    cursor: pointer;
    font-size: 0.9rem;
}

app-footer {
    margin-top: 2em;
}

.button-row {
    display: inline-block;

    button {
        margin: 0.3em 0.4em;
        width: 6.5em;
        height: 6.5em;
    }
}