<app-demotbar></app-demotbar>

<div class="general">
  <h1>How to download this application</h1>
  <p>This application can be downloaded to Android, iOS, and desktop devices.</p>
  <div>
    <a class="ref" href="download/#android">Android Mobile</a>
  </div>
  <div>
    <a class="ref" href="download/#ios">iOS</a>
  </div>
  <div>
    <a class="ref" href="download/#desktop">Desktop or Laptop</a>
  </div>

  <hr>
  <h3>Android Mobile</h3>
  <p name="android" id="android">For Android devices, click on this icon:</p>
  <img src="../../assets/dots.png" alt="" class="dots">
  <p>Then choose "Add to Home Screen" on the dropdown menu.</p>
  <img src="../../assets/add-to-home.png" alt="" srcset="" class="home">
  <img src="../../assets/mobile-add" alt="" srcset="" class="mobile">

  <hr>

  <h3>iOS Mobile</h3>
  <p name="ios" id="ios">On iOS, such as an iPhone or iPad, open this website on Safari.</p>
  <p>There, click on the Share button:</p>
  <img src="../../assets/share.jpg" alt="" class="dots">
  <p>Then, on the opened Share menu, choose "Add to Home Screen".</p>
  <img src="../../assets/home-screen.png" alt="" srcset="" class="home">

  <hr>

  <h3>Desktop or Laptop</h3>
  <p id="desktop">If you are on a desktop or laptop, you will need to open this website through the Google Chrome browser.</p>
  <p>On the Chrome browser, click the dots on the top right, similar to on Android:</p>
  <img src="../../assets/dots.png" alt="" class="dots">
  <p>Also, you can click the + icon on the address bar, to the right of this website's URL:</p>
  <img src="../../assets/address-bar.png" alt="" srcset="" class="home">
  <p>Choose the option "Install DexGrid Product Demo...".</p>
  <img src="../../assets/install-desktop.png" alt="" srcset="" class="desktop-menu">
  <p>This will open a popup asking if you'd like to cancel or install this app:</p>
  <img src="../../assets/topbar-download.png" alt="" srcset="" class="mobile">
</div>