.general {
    margin: 1em 2em;
    padding: 2em 0em;
}

.dots {
    height: 3em;
    width: auto;
    border-radius: 0.3em;
    display: block;
    margin: 0 auto;
}

.home {
    height: auto;
    width: 90%;
    border-radius: 0.3em;
    display: block;
    margin: 0 auto;
    @media only screen and (min-width: 600px) {
        width: 30%;
    }
}

.mobile {
    height: auto;
    width: 90%;
    border-radius: 0.3em;
    display: block;
    margin-top: 1em;
    margin: 0.5em auto;
    @media only screen and (min-width: 600px) {
        width: 30%;
    }
}

.desktop-menu {
    height: auto;
    width: 90%;
    border-radius: 0.3em;
    display: block;
    margin-top: 1em;
    margin: 0.5em auto;
    @media only screen and (min-width: 600px) {
        width: 50%;
    }
}

.ref {
    margin-top: 0.4em;
    margin-right: 4em;
    vertical-align: center;
}