<div>
  <div>
    <p>Accounts tied onto your grid:</p>

    <div id="wrap" multi-col>

      <div id="bill" class="dashcard">
        <div class="dashcard-inner">
          <p class="dashcard-title">#429</p>
          <p>13 kW Solar PV</p>
          <p>Prepaid [December]: $100</p>
        </div>
      </div>

      <div id="bill" class="dashcard">
          <div class="dashcard-inner">
            <p class="dashcard-title">#754</p>
            <p>Credits left [December]: $63</p>
            <p>Prepaid [December]: $100</p>
          </div>
        </div>

        <div id="bill" class="dashcard">
            <div class="dashcard-inner">
              <p class="dashcard-title">#985</p>
              <p>Credits left [December]: $63</p>
              <p>Prepaid [December]: $100</p>
            </div>
          </div>

    </div>
  </div>