<div>
  <div>
    <p>Accounts tied onto your grid:</p>

    <div id="wrap" multi-col>

      <div id="bill" class="dashcard">
        <div class="dashcard-inner">
          <p class="dashcard-title">#429</p>
          <p>13 kW Solar PV</p>
          <p>Prepaid [December]: $100</p>
        </div>
      </div>

      <div id="bill" class="dashcard">
          <div class="dashcard-inner">
            <p class="dashcard-title">#754</p>
            <p>17 kW Solar PV</p>
            <p>5 kW Lithium Ion Battery</p>
            <p>Prepaid [December]: $200</p>
          </div>
        </div>

        <div id="bill" class="dashcard">
            <div class="dashcard-inner">
              <p class="dashcard-title">#985</p>
              <p>8 kW Solar PV</p>
              <p>Prepaid [December]: $200</p>
            </div>
          </div>

          <div id="bill" class="dashcard">
              <div class="dashcard-inner">
                <p class="dashcard-title">#1009</p>
                <p>105 kW Solar PV</p>
                <p>Prepaid [December]: $1000</p>
              </div>
            </div>

        <div id="bill" class="dashcard">
            <div class="dashcard-inner">
              <p class="dashcard-title">#1078</p>
              <p>8 kW Solar PV</p>
              <p>Prepaid [December]: $100</p>
            </div>
          </div>

        <div id="bill" class="dashcard">
            <div class="dashcard-inner">
              <p class="dashcard-title">#1198</p>
              <p>45 kW Solar PV</p>
              <p>Prepaid [December]: $300</p>
            </div>
          </div>

        <div id="bill" class="dashcard">
            <div class="dashcard-inner">
              <p class="dashcard-title">#1234</p>
              <p>11 kW Solar PV</p>
              <p>Prepaid [December]: $200</p>
            </div>
          </div>

        <div id="bill" class="dashcard">
            <div class="dashcard-inner">
              <p class="dashcard-title">#1255</p>
              <p>14 kW Solar PV</p>
              <p>Prepaid [December]: $200</p>
            </div>
          </div>

          <div id="bill" class="dashcard">
              <div class="dashcard-inner">
                <p class="dashcard-title">#1268</p>
                <p>850 kW Solar PV</p>
                <p>Prepaid [December]: $2000</p>
              </div>
            </div>

    </div>
  </div>