.main {
    width: 18rem;

    @media only screen and (min-width: 600px) {
        padding: 1em 2em;
    }
}

// h3 {
//     text-align: center;
// }

.credit-input {
    // margin-right: 100%;
    height: 6rem;
}

.purchase {
    margin-top: 1.5em;
    margin-right: 2em;
}

button {
    float: right;
}

.payment-method {
    margin-top: 2em;
    height: 3rem;
}