<mat-dialog-content>
  <div class="main">
    <h3>Purchase additional electric credits</h3>

    <mat-form-field class="credit-input" ng-pattern="onlyNumbers" type="number">
      <div class="creditamount">
        <label>Number:
            <input class="form-control" type="number" min="0" max="999" matInput #creditAmount="ngModel" [(ngModel)]="creditAmount.value" ng-pattern="onlyNumbers" id="creditAmount" pattern="^[0-9]+\.[0-9][0-9]$" required>
        </label>
      </div>
      <mat-hint>Recommended Amount:
        <br>40 credits
      </mat-hint>

    </mat-form-field>

    <mat-form-field class="payment-method">
      <mat-label>Method of Payment</mat-label>
      <mat-select>
        <mat-option *ngFor="let credit of credits" [value]="credit.value">
          {{credit.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- <button mat-raised-button color="warn" class="purchase" (click)="submitCreditAmount()" [mat-dialog-close]="true">Purchase -->
    <button mat-raised-button ng-pattern="onlyNumbers" type="number" color="warn" class="purchase" (click)="submitCreditAmount(creditAmount.value)">Purchase
      <mat-icon aria-hidden="false" aria-label="done icon">done</mat-icon>
    </button>
  </div>

</mat-dialog-content>
