<div>
  <h1>Billing History:</h1>
  <p>See your last 18 months of payments here</p>

  <div id="months">
    <div class="month">
      <p>October '19</p>
      <p>42 Credits</p>
      <p>874 kWh</p>
    </div>
    <div class="month">
      <p>September '19</p>
      <p>41 Credits</p>
      <p>832 kWh</p>
    </div>
    <div class="month">
      <p>August '19</p>
      <p>45 Credits</p>
      <p>912 kWh</p>
    </div>
    <div class="month">
      <p>July '19</p>
      <p>42 Credits</p>
      <p>934 kWh</p>
    </div>
    <div class="month">
      <p>June '19</p>
      <p>41 Credits</p>
      <p>945 kWh</p>
    </div>
    <div class="month">
      <p>May '19</p>
      <p>39 Credits</p>
      <p>884 kWh</p>
    </div>
    <div class="month">
      <p>April '19</p>
      <p>35 Credits</p>
      <p>811 kWh</p>
    </div>
    <div class="month">
      <p>March '19</p>
      <p>33 Credits</p>
      <p>738 kWh</p>
    </div>
    <div class="month">
      <p>February '19</p>
      <p>31 Credits</p>
      <p>723 kWh</p>
    </div>
    <div class="month">
      <p>January '19</p>
      <p>30 Credits</p>
      <p>710 kWh</p>
    </div>
    <div class="month">
      <p>December '18</p>
      <p>30 Credits</p>
      <p>715 kWh</p>
    </div>
    <div class="month">
      <p>November '18</p>
      <p>30 Credits</p>
      <p>722 kWh</p>
    </div>
    <div class="month">
      <p>October '18</p>
      <p>32 Credits</p>
      <p>745 kWh</p>
    </div>
    <div class="month">
      <p>September '18</p>
      <p>32 Credits</p>
      <p>743 kWh</p>
    </div>
    <div class="month">
      <p>August '18</p>
      <p>40 Credits</p>
      <p>856 kWh</p>
    </div>
    <div class="month">
      <p>July '18</p>
      <p>43 Credits</p>
      <p>874 kWh</p>
    </div>
    <div class="month">
      <p>June '18</p>
      <p>41 Credits</p>
      <p>845 kWh</p>
    </div>
    <div class="month">
      <p>May '18</p>
      <p>40 Credits</p>
      <p>787 kWh</p>
    </div>
  </div>
</div>