#months {
    background-color: rgba(226, 226, 226, 0.445);
    margin-bottom: 0.5em;
    padding: 0.2em 1em;
}

.month {
    border-bottom: 0.1em solid rgba(58, 57, 57, 0.589);
}

.period {
    margin-bottom: 1rem;
}