#cover {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

#market_photo {
    width: 40%;
    height: auto;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}