<app-demotbar></app-demotbar>

<!-- <div id="drawer">
    <app-drawer></app-drawer>
  </div> -->

<div id="general">

  <h1>Demo Page for DexGrid Electricity Market</h1>

  <div id="cover">
    <img id="market_photo" src="../../assets/electric_market.jpg" alt="">
  </div>
  <hr>
  <div id="market">
    <div id="options">
      <button id="regulator" (click)="reg()">Regulator</button>
      <button id="customer" (click)="cus()">Customer</button>
    </div>
  
    <div *ngIf="should_open_reg;">
      <app-regulator></app-regulator>
      <!-- <ng-template #empty>Nothing Opened</ng-template> -->
    </div>
  
    <div *ngIf="should_open_cus;">
      <app-customer></app-customer>
      <!-- <ng-template #empty>Nothing Opened</ng-template> -->
    </div>
  </div>
</div>
