<mat-dialog-content>
  <button class="billbutton" (click)="closeD()">Close</button>
  <h3>Terms and Conditions</h3>
  <p>
    Welcome to DexGrid! 
    <br>
    <br>
    These terms and conditions outline the rules and regulations for the use of
    DexGrid.io, located at DexGrid.io. By accessing this website we assume you accept these terms and conditions.
    <br>
    Do not continue to use Website Name if you do not agree to take all of the terms and conditions stated on this page.
    <br>
    The following terminology applies to these Terms and Conditions, Privacy Statement and Disclaimer Notice and all Agreements:
    <br>
    “Client”, “You” and “Your” refers to you, the person log on this website and compliant to the Company's terms and conditions.
    <br>
    “The Company”, “Ourselves”, “We”, “Our” and “Us”, refers to our Company. 
    <br>
    “Party”, “Parties”, or “Us”, refers to both
    the Client and ourselves. 
    <br>
    All terms refer to the offer, acceptance and consideration of payment necessary to undertake
    the process of our assistance to the Client in the most appropriate manner for the express purpose of meeting the Client's
    needs in respect of provision of the Company's stated services, in accordance with and subject to, prevailing law of
    Puerto Rico. Any use of the above terminology or other words in the singular, plural, capitalization and/or he/she or
    they, are taken as interchangeable and therefore as referring to same. 
    <br>
    <br>
    Cookies 
    <br>
    We employ the use of cookies. 
    <br>
    By accessing
    DexGrid.io, you agreed to use cookies in agreement with the Company Name's Privacy Policy. Most interactive websites
    use cookies to let us retrieve the user's details for each visit. Cookies are used by our website to enable the functionality
    of certain areas to make it easier for people visiting our website. Some of our affiliate/advertising partners may also
    use cookies. 
    <br>
    <br>
    License 
    <br>
    Unless otherwise stated, DexGrid and/or its licensors own the intellectual property rights
    for all material on DexGrid.io. 
    <br>
    All intellectual property rights are reserved. You may access this from DexGrid.io
    for your own personal use subjected to restrictions set in these terms and conditions. 
    <br>
    You must not: 
    <br>
    Republish material from DexGrid 
    <br>
    Sell, rent or sub-license material from DexGrid
    <br>
    Reproduce, duplicate or copy material from DexGrid 
    <br>
    Redistribute content from DexGrid 
    <br>
    This Agreement shall begin on the date hereof. Parts of this website offer
    an opportunity for users to post and exchange opinions and information in certain areas of the website. DexGrid
    does not filter, edit, publish or review Comments prior to their presence on the website. Comments do not reflect the
    views and opinions of DexGrid,its agents and/or affiliates. Comments reflect the views and opinions of the person
    who post their views and opinions. To the extent permitted by applicable laws, DexGrid shall not be liable for the
    Comments or for any liability, damages or expenses caused and/or suffered as a result of any use of and/or posting of
    and/or appearance of the Comments on this website. DexGrid reserves the right to monitor all Comments and to remove
    any Comments which can be considered inappropriate, offensive or causes breach of these Terms and Conditions. You warrant
    and represent that: 
    <br>
    You are entitled to post the Comments on our website and have all necessary licenses and consents
    to do so; 
    <br>
    The Comments do not invade any intellectual property right, including without limitation copyright, patent
    or trademark of any third party; 
    <br>
    The Comments do not contain any defamatory, libelous, offensive, indecent or otherwise
    unlawful material which is an invasion of privacy 
    <br>
    The Comments will not be used to solicit or promote business or custom
    or present commercial activities or unlawful activity. 
    <br>
    <br>
    You hereby grant Company Name a non-exclusive license to use,
    reproduce, edit and authorize others to use, reproduce and edit any of your Comments in any and all forms, formats or
    media. Hyperlinking to our Content The following organizations may link to our Website without prior written approval:
    <br>
    <br>
    Government agencies; 
    <br>
    Search engines; 
    <br>
    News organizations;
    <br>
    Online directory distributors may link to our Website in the
    same manner as they hyperlink to the Websites of other listed businesses; and System wide Accredited Businesses except
    soliciting non-profit organizations, charity shopping malls, and charity fundraising groups which may not hyperlink to
    our Web site. 
    <br>
    These organizations may link to our home page, to publications or to other Website information so long
    as the link: (a) is not in any way deceptive; (b) does not falsely imply sponsorship, endorsement or approval of the
    linking party and its products and/or services; and (c) fits within the context of the linking party's site. We may consider
    and approve other link requests from the following types of organizations: commonly-known consumer and/or business information
    sources; dot.com community sites; associations or other groups representing charities; online directory distributors;
    internet portals; accounting, law and consulting firms; and educational institutions and trade associations. We will
    approve link requests from these organizations if we decide that: (a) the link would not make us look unfavorably to
    ourselves or to our accredited businesses; (b) the organization does not have any negative records with us; (c) the benefit
    to us from the visibility of the hyperlink compensates the absence of Company Name; and (d) the link is in the context
    of general resource information. These organizations may link to our home page so long as the link: (a) is not in any
    way deceptive; (b) does not falsely imply sponsorship, endorsement or approval of the linking party and its products
    or services; and (c) fits within the context of the linking party's site. 
    <br>
    If you are one of the organizations listed
    in paragraph 2 above and are interested in linking to our website, you must inform us by sending an e-mail to DexGrid. 
    Please include your name, your organization name, contact information as well as the URL of your site, a list of
    any URLs from which you intend to link to our Website, and a list of the URLs on our site to which you would like to
    link. Wait 2-3 weeks for a response. Approved organizations may hyperlink to our Website as follows: By use of our corporate
    name; or By use of the uniform resource locator being linked to; or By use of any other description of our Website being
    linked to that makes sense within the context and format of content on the linking party's site. No use of Company Name's
    logo or other artwork will be allowed for linking absent a trademark license agreement. 
    <br>
    iFrames Without prior approval
    and written permission, you may not create frames around our Webpages that alter in any way the visual presentation or
    appearance of our Website. 
    <br>
    Content Liability We shall not be hold responsible for any content that appears on your Website.
    <br>
    You agree to protect and defend us against all claims that is rising on your Website. 
    <br>
    No link(s) should appear on any
    Website that may be interpreted as libelous, obscene or criminal, or which infringes, otherwise violates, or advocates
    the infringement or other violation of, any third party rights. 
    <br>
    <br>
    Reservation of Rights 
    <br>
    We reserve the right to request
    that you remove all links or any particular link to our Website. You approve to immediately remove all links to our Website
    upon request. We also reserve the right to amend these terms and conditions and it's linking policy at any time. By continuously
    linking to our Website, you agree to be bound to and follow these linking terms and conditions. 
    <br>
    <br>
    Removal of links from
    our website 
    <br>
    If you find any link on our Website that is offensive for any reason, you are free to contact and inform
    us any moment. We will consider requests to remove links but we are not obligated to or so or to respond to you directly.
    We do not ensure that the information on this website is correct, we do not warrant its completeness or accuracy; nor
    do we promise to ensure that the website remains available or that the material on the website is kept up to date. Disclaimer
    To the maximum extent permitted by applicable law, we exclude all representations, warranties and conditions relating
    to our website and the use of this website. 
    <br>
    <br>
    Nothing in this disclaimer will: limit or exclude our or your liability for
    death or personal injury; limit or exclude our or your liability for fraud or fraudulent misrepresentation; limit any
    of our or your liabilities in any way that is not permitted under applicable law; or exclude any of our or your liabilities
    that may not be excluded under applicable law. The limitations and prohibitions of liability set in this Section and
    elsewhere in this disclaimer: (a) are subject to the preceding paragraph; and (b) govern all liabilities arising under
    the disclaimer, including liabilities arising in contract, in tort and for breach of statutory duty. As long as the website
    and the information and services on the website are provided free of charge, we will not be liable for any loss or damage
    of any nature.
  </p>

  <!-- <p>Smart Contracts on Ethereum Our current economic machine relies on manual holding and movement of capital and assets. 
    <br>
    Agriculture,
    factory work, and transportation required an immense amount of manual work. Then steam powered engines and machines took
    over this work from people. Smart contracts are composed of logic written in computer code. They are hosted on a digital,
    distributed ledger updated by incentivized authors. With this new technology, the potential exists to remove the burden
    of operating financial and governance services. Let's make this less abstract by answering a question: what are the sorts
    of services our society relies on that take so much effort? With our focus on reducing the cost of capitalization (funding)
    for solar power projects, we rely on services for: • escrow • transactions • accounting • custodianship • tracking of
    debt ownership • repayment services • We're also going to need: • insurance payouts • public signaling of the state of
    default • collateralization services for leverage • markets for pricing the debt asset and other debt/asset associated
    prices • governance of associations, corporations and due diligence efforts These services, even the basic ones, would
    require us to pay fees to financial service firms in the double digit percentages of the total capital. More complex
    products like aggregated funds of debt assets or credit rating would move that cost up far more. The technological solution
    of a ledger with a consensus algorithm, coordinating the authors of the ledger together in an honest effort, provides
    an alternative. These authors are responsible for adding onto the shared ledger according to the rules of that blockchain.
    It can be compared to how professionals, such as accountants, lawyers, judges, and scientists, follow agreed upon rules.
    These authors of the blockchain ledger follow the rules set forth by the consensus algorithm. The difference is the difficulty
    of enforcing professional codes. These codes are also expensive to carry out (having to prove an attorney acting in bad
    faith for their client). Blockchain consensus rules rapidly follow through with enforcement. In the Ethereum blockchain,
    computer code with the logic to move something executes when called upon. If a user wants to release something held in
    their contract to someone, they can be confident that it's exactly what will happen on their command. It will also happen
    without much delay (about 10 seconds on the Ethereum ledger). Additional benefits of using a public blockchain include:
    • immutability of the ledger and the code on it • no ability to be censored • very expensive to spam from a bad actor
    • easy and cheap to connect to So what's it like to work with one as these contracts, as a builder and as a customer?
    Deploying your own contract and operating it, for the time being, may require one to have decent technical capability.
    This includes knowing how to use the computer command line, working with software code, and learning how to use the tools
    available. The fortunate aspect of this is that, besides the Smart Contracts on Ethereum costs of learning about these
    tools and some minor expenses for using the blockchain, it's almost free to do. This is when compared to setting up your
    own money account and escrow service or relying on a bank. Blockchains operate over the world wide web and need no licenses,
    trade organizations, or specific nationalities or levels of wealth. Let's get into the weeds now and discuss some more
    precise examples. We've discussed escrow and this is the type of service that is part of a greater group of services:
    custodianship. Escrow is a pure example of this but other examples can include: secure holding of your own or your organizations
    own assets/capital shared ownership with others relying on permission from multi parties for action lock up of assets
    to ensure secure exchange of them off-chain through mechanisms like signed transactions or someone's side blockchain
    with a different and more flexible protocol for adding ledger entries Besides custodianship, smart contracts can work
    to solve coordination issues, such as providing markets for buyers and sellers to meet, signal their prices to each other
    and exchange. Smart contract rules handle voting and governance of organizations, distribution channels of on-chain capital
    and assets, and identity attestation through use of one's on-chain public address. Finally, through economic rules encoded
    into smart contracts (reverse game theory, known as mechanism design), smart contracts can operate as opt-in platforms
    for getting different parties to work together in trustless manners. The rules of the contract assures the players that
    it will punish bad actors. On a more technical level, there are specific characteristics of blockchains that are vital
    for understanding them. Before going into these, a general summary of one would be: a distributed, digital ledger made
    up of blocks of data showing the state of transactions, ownership, and other states changed by users of the blockchain.
    On Ethereum, smart contracts change the state, not just transactions (like in Bitcoin, except for the escrow option).
    Listed out, the characteristics are: • Peer to peer • Immutable • Permission-less • Programmable (through code hosted
    on the blockchain) • Publicly available • Deterministic (same result for any user) Characteristics of smart contracts
    on Ethereum include: • Limited in scope to itself and on the blockchain (only function when called upon by a user) •
    Made up of bytecode on the blockchain (code not easily read by humans) • Have their own public address • No private keys/password
    and therefore out of the control of anyone once deployed (unless the author writes this in) • Cost some amount to run,
    as a function of the computational resources to run. This is because every verifier of the blockchain has to run every
    function called up. • Atomic (either the function called upon runs all the way or else the ledger includes no changes)
    • If deleted and removed from the blockchain, the users deleting it is paid some Ether The combination of the security
    behind blockchain technology as well as it's low cost to operate make it the most attractive option for our project.
    Our familiarity as a team with the technology, tools to build on top of it, and research on best methods to plug our
    own technology on top of it will provide a valuable product for our customers in the solar lending space. This is without
    compromising the capital of our customers or their personal privacy.
  </p> -->
</mat-dialog-content>
