<!-- <h1>{{ SellrecComponent.name }}</h1> -->
 <p>Sell your Renewable Energy Credits here:</p>
<hr>
 <div class="general">

    <div class="transfer">
        <p>Credits to transfer:</p>
        <input #rec [value]="recs" type="number" name="RECs" id="recs" placeholder="How many RECs?">
      </div>

   <div  class="credits">
      <p>Renewable Energy Credits available to transfer:</p>
      <!-- <p [innerHTML]="creditnumber" id="creditnumber" type="number"> {{ _sell.b }}</p> -->
   </div>


   <div class="transferb">
    <button id="transferb" (click) = "transferr(rec.value)" for="rec">Transfer RECs</button>
   </div>

   <!-- <div style="color:red; height: 2em; width: 15em; background-color: blue;">
      <p style="color: yellow" [innerHTML]="name">{{ name }}</p>
  </div> -->

 </div>

