#transferb {
    // background-color: #a12c2c;
    margin-top: 0.8rem;
    margin-right: 2rem;
    // border-radius: 1.5rem;
    // width: 10rem;
    // height: 2rem;
    // border: 0.1rem, #908a8a;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    // font-size: 0.9rem;
}

#recs {
    // height: 2em;
    // width: 15em;
}

.credits {
    display: inline-block;
    float: right;
}

.transfer {
    display: inline-block;

}

.transferb {
    // float: right;
    margin-top: 1em;
}