<!-- <h1>{{ SellrecComponent.name }}</h1> -->
 <p>Manage your RECs here:</p>
<hr>
 <div class="general">

    <div class="transfer">
        <p>Create new RECs:</p>
        <!-- <input #rectransfered [value]="recs" type="number" name="RECs" id="recs" placeholder="How many RECs?"> -->
        <input #Amount #rectransfered type="number" name="RECs" id="recs" placeholder="How many RECs?">
      </div>

   <div class="credits">
      <!-- <p>REC balance:</p>
      <p ng-bind="rec" [innerHTML]="rec" id="creditnumber" type="number"> {{ rec }}</p> -->
      <!-- <p ng-bind="n"> {{ n }}</p> -->

      <p>REC Balance:</p>
      <p ng-bind="message" [innerHTML]="message" id="creditnumber" type="number"> {{ message }}</p>
   </div>

   <div class="transferb">
    <button id="transferb" (click) = "mint(Amount.value)" for="rectransfered">Mint Rec</button>
   </div>

   <div class="transfer">
    <p>Amount of RECs to Transfer:</p>
    <!-- <input #rectransfered [value]="recs" type="number" name="RECs" id="recs" placeholder="How many RECs?"> -->
    <input #recamount type="number" name="RECs" id="recs" placeholder="How many RECs?">
  </div>

   <div class="transferb">
    <button id="transferb" (click) = "transferRec(recamount.value)" for="rectransfered">Transfer RECs</button>
   </div>


   <!-- <div class="transferb">
    <button id="transferb" (click) = "checkBalance()" for="rectransfered">Console Balance</button>
   </div> -->

   <!-- <div class="transferb">
    <button id="transferb" (click) = "transferr(rectransfered.value)" for="rectransfered">Sell RECs</button>
   </div>

   <div class="transferb">
    <button id="transferb" (click) = "transfer(Amount.value)" for="rectransfered">Transfer Amount</button>
   </div>

   <div class="transferb">
    <button id="transferb" (click) = "transferE()" for="rectransfered">Transfer Ether</button>
   </div>

   <div class="transferb">
    <button id="transferb" (click) = "enableWeb3Provider()" for="rectransfered">Web3</button>
   </div>

   <div class="transferb">
    <button id="transferb" (click) = "Metamask()" for="rectransfered">Metamask</button>
   </div>
    -->

   <!-- <button (click)="console()">Console</button> -->

   <!-- <div style="color:red; height: 2em; width: 15em; background-color: blue;">
      <p style="color: yellow" [innerHTML]="name">{{ name }}</p>
  </div> -->

 </div>

