<p>
  terms works!
</p>
<div>
  <p>Smart Contracts on Ethereum
      Our current economic machine relies on manual holding and movement of capital and assets.
      Agriculture, factory work, and transportation required an immense amount of manual work. Then
      steam powered engines and machines took over this work from people. Smart contracts are
      composed of logic written in computer code. They are hosted on a digital, distributed ledger
      updated by incentivized authors. With this new technology, the potential exists to remove the
      burden of operating financial and governance services.
      Let's make this less abstract by answering a question: what are the sorts of services our society
      relies on that take so much effort? With our focus on reducing the cost of capitalization (funding)
      for solar power projects, we rely on services for:
      • escrow
      • transactions
      • accounting
      • custodianship
      • tracking of debt ownership
      • repayment services
      • We're also going to need:
      • insurance payouts
      • public signaling of the state of default
      • collateralization services for leverage
      • markets for pricing the debt asset and other debt/asset associated prices
      • governance of associations, corporations and due diligence efforts
      These services, even the basic ones, would require us to pay fees to financial service firms in the
      double digit percentages of the total capital. More complex products like aggregated funds of debt
      assets or credit rating would move that cost up far more.
      The technological solution of a ledger with a consensus algorithm, coordinating the authors of the
      ledger together in an honest effort, provides an alternative. These authors are responsible for
      adding onto the shared ledger according to the rules of that blockchain. It can be compared to how
      professionals, such as accountants, lawyers, judges, and scientists, follow agreed upon rules. These
      authors of the blockchain ledger follow the rules set forth by the consensus algorithm. The
      difference is the difficulty of enforcing professional codes. These codes are also expensive to carry
      out (having to prove an attorney acting in bad faith for their client). Blockchain consensus rules
      rapidly follow through with enforcement. In the Ethereum blockchain, computer code with the logic
      to move something executes when called upon. If a user wants to release something held in their
      contract to someone, they can be confident that it's exactly what will happen on their command. It
      will also happen without much delay (about 10 seconds on the Ethereum ledger). Additional
      benefits of using a public blockchain include:
      • immutability of the ledger and the code on it
      • no ability to be censored
      • very expensive to spam from a bad actor
      • easy and cheap to connect to
      So what's it like to work with one as these contracts, as a builder and as a customer? Deploying
      your own contract and operating it, for the time being, may require one to have decent technical
      capability. This includes knowing how to use the computer command line, working with software
      code, and learning how to use the tools available. The fortunate aspect of this is that, besides the
      Smart Contracts on Ethereum
      costs of learning about these tools and some minor expenses for using the blockchain, it's almost
      free to do. This is when compared to setting up your own money account and escrow service or
      relying on a bank. Blockchains operate over the world wide web and need no licenses, trade
      organizations, or specific nationalities or levels of wealth.
      Let's get into the weeds now and discuss some more precise examples. We've discussed escrow and
      this is the type of service that is part of a greater group of services: custodianship. Escrow is a pure
      example of this but other examples can include:
      secure holding of your own or your organizations own assets/capital
      shared ownership with others relying on permission from multi parties for action
      lock up of assets to ensure secure exchange of them off-chain through mechanisms like signed
      transactions or someone's side blockchain with a different and more flexible protocol for adding
      ledger entries
      Besides custodianship, smart contracts can work to solve coordination issues, such as providing
      markets for buyers and sellers to meet, signal their prices to each other and exchange. Smart
      contract rules handle voting and governance of organizations, distribution channels of on-chain
      capital and assets, and identity attestation through use of one's on-chain public address. Finally,
      through economic rules encoded into smart contracts (reverse game theory, known as mechanism
      design), smart contracts can operate as opt-in platforms for getting different parties to work
      together in trustless manners. The rules of the contract assures the players that it will punish bad
      actors.
      On a more technical level, there are specific characteristics of blockchains that are vital for
      understanding them. Before going into these, a general summary of one would be: a distributed,
      digital ledger made up of blocks of data showing the state of transactions, ownership, and other
      states changed by users of the blockchain. On Ethereum, smart contracts change the state, not just
      transactions (like in Bitcoin, except for the escrow option). Listed out, the characteristics are:
      • Peer to peer
      • Immutable
      • Permission-less
      • Programmable (through code hosted on the blockchain)
      • Publicly available
      • Deterministic (same result for any user)
      Characteristics of smart contracts on Ethereum include:
      • Limited in scope to itself and on the blockchain (only function when called upon by a user)
      • Made up of bytecode on the blockchain (code not easily read by humans)
      • Have their own public address
      • No private keys/password and therefore out of the control of anyone once deployed (unless the
      author writes this in)
      • Cost some amount to run, as a function of the computational resources to run. This is because
      every verifier of the blockchain has to run every function called up.
      • Atomic (either the function called upon runs all the way or else the ledger includes no changes)
      • If deleted and removed from the blockchain, the users deleting it is paid some Ether
      The combination of the security behind blockchain technology as well as it's low cost to operate
      make it the most attractive option for our project. Our familiarity as a team with the technology,
      tools to build on top of it, and research on best methods to plug our own technology on top of it
      will provide a valuable product for our customers in the solar lending space. This is without
      compromising the capital of our customers or their personal privacy.
      </p>
</div>