<div id="wrap" multi-col>

  <div id="bill" class="dashcard">
    <div class="dashcard-inner">
      <p class="dashcard-title">#1</p>
      <p>San Juan</p>
      <p>56 kW Solar PV</p>
    </div>
  </div>

  <div id="bill" class="dashcard">
    <div class="dashcard-inner">
      <p class="dashcard-title">#2</p>
      <p>San Juan</p>
      <p>33 kW Solar PV</p>
    </div>
  </div>

  <div id="bill" class="dashcard">
      <div class="dashcard-inner">
        <p class="dashcard-title">#3</p>
        <p>San Juan</p>
        <p>33 kW Solar PV</p>
      </div>
    </div>

  <div id="bill" class="dashcard">
      <div class="dashcard-inner">
        <p class="dashcard-title">#4</p>
        <p>San Juan</p>
        <p>33 kW Solar PV</p>
      </div>
    </div>

  <div id="bill" class="dashcard">
      <div class="dashcard-inner">
        <p class="dashcard-title">#5</p>
        <p>San Juan</p>
        <p>33 kW Solar PV</p>
      </div>
    </div>

  <div id="bill" class="dashcard">
      <div class="dashcard-inner">
        <p class="dashcard-title">#6</p>
        <p>San Juan</p>
        <p>33 kW Solar PV</p>
      </div>
    </div>

  <div id="bill" class="dashcard">
      <div class="dashcard-inner">
        <p class="dashcard-title">#7</p>
        <p>San Juan</p>
        <p>33 kW Solar PV</p>
      </div>
    </div>

  <div id="bill" class="dashcard">
      <div class="dashcard-inner">
        <p class="dashcard-title">#8</p>
        <p>San Juan</p>
        <p>33 kW Solar PV</p>
      </div>
    </div>

  <div id="bill" class="dashcard">
      <div class="dashcard-inner">
        <p class="dashcard-title">#9</p>
        <p>San Juan</p>
        <p>33 kW Solar PV</p>
      </div>
    </div>

  <div id="bill" class="dashcard">
      <div class="dashcard-inner">
        <p class="dashcard-title">#10</p>
        <p>San Juan</p>
        <p>33 kW Solar PV</p>
      </div>
    </div>

  <div id="bill" class="dashcard">
      <div class="dashcard-inner">
        <p class="dashcard-title">#11</p>
        <p>San Juan</p>
        <p>33 kW Solar PV</p>
      </div>
    </div>

  <div id="bill" class="dashcard">
      <div class="dashcard-inner">
        <p class="dashcard-title">#12</p>
        <p>San Juan</p>
        <p>33 kW Solar PV</p>
      </div>
    </div>
</div>