<section class="main">
  <!-- <p>Authentication</p> -->

  <div *ngIf="auth.user$ | async as user; else login">
    <img src="{{ user.photoURL }}" alt="" class="profile-photo">
    <pre class="user-data">
      <!-- {{ user | json }} -->
      Welcome back {{ user.displayName }}!
    </pre>

    
    <hr>
    <button class="signout" mat-fab class="button" (click)="auth.signOut()">Sign Out</button>
  
  </div>
  
  <ng-template #login>
    <button mat-raised-button color="primary" class="button" (click)="auth.googleSignin()">Login with Google</button>
  </ng-template>

</section>

<!-- <h1 [innerHTML]="test1">{{ test1 }}</h1> -->

<!-- <button (click)="changetext()">Change the text</button> -->

<!-- <input [value]="rec.value" (input)= type="number" name="" id=""> -->
