.main {
    padding-top: 3rem;
    text-align: center;
    // width: 15rem;
}

.profile-photo {
    float: left;
    margin-left: 1.5rem;
    width: 3rem;
    height: auto;
}

.user-data {
    // width: 15rem;
}

.signout {
    width: 6rem;
    height: 6rem;
}