.main {
    padding: 1em 2em;
}

h3 {
    text-align: center;
}

.example-full-width {
    margin-right: 2em;
}

.purchase {
    margin-top: 1.5em;
    margin-right: 2em;
}

button {
    float: right;
}

.buttons {
    text-align: center;
}

.paymentmethod {
    margin-top: 2em;
    // float: left;
}