<div id="topwrap">
  <div id="top">
    <div id="topinner">
      <div id="topcontent">
        info@dexgrid.io
      </div>
    </div>
  </div>
</div>

<div id="siteheader">
    <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Toggle dropdown</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem>Action - 1</button>
          <button ngbDropdownItem>Another Action</button>
          <button ngbDropdownItem>Something else is here</button>
        </div>
      </div>
  <div id="site-logo">
    <div id="site-logo-inner">
      <a routerLink="">
        <img id="logophoto" routerLink="" src="../../assets/DexGrid_FullLogo.png" alt="">
      </a>
    </div>
  </div>
</div>