<div id="topwrap">
  <div id="top">
    <div id="topinner">
      <div id="topcontent">
        info@dexgrid.io
      </div>
    </div>
  </div>
</div>

<div id="siteheader">
  <div id="matbutton">
    <button mat-button [matMenuTriggerFor]="menu">Portals</button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item>Regulator Portal</button>
      <button mat-menu-item>Customer Portal</button>
      <button mat-menu-item>Grid Operator Portal</button>      
    </mat-menu>
  </div>
  <div id="site-logo">
    <div id="site-logo-inner">
      <a routerLink="">
        <img id="logophoto" routerLink="" src="../../assets/DexGrid_FullLogo.png" alt="">
      </a>
    </div>
  </div>
</div>