<div id="general">
  <h1>
    {{operator}} Operator Portal
  </h1>
  <mat-icon (click)="openBottomSheet()" aria-hidden="false" aria-label="info icon">info</mat-icon>

  <div class="dash">
    <div class="alert">
      <p>Current Alerts:</p>
      <p style="text-decoration: underline;">No existing alerts</p>
    </div>
    <hr>
    <div class="generation">
      <p>Electricity Generated [last 24 hours]</p>
      <p style="text-decoration: underline;">875 kWh</p>
      <p>Electricity Stored</p>
      <p style="text-decoration: underline;">96 kWh</p>
    </div>

    <div class="graphs">
      <div class="supplygraph">
        <p>Today's Solar PV Generation</p>
        <img src="../../assets/Supply Graph.png" alt="">
      </div>
      <!-- <br> -->

      <div class="demandgraph">
        <p>Today's Retail Consumption</p>
        <img src="../../assets/Demand Graph2.png" alt="">
      </div>

    </div>

    <div class="marketPrice" *ngIf="SpotPrice > 0; else elseBlock">
      <p>Spot Price:</p>
      <p>${{ SpotPrice }} per kWh</p>
      <p style="margin-top: 1em;">This is for the {{operator}} microgrid.</p>
    </div>
    <ng-template #elseBlock>
      <p>Spot Price is hidden for now.</p>
    </ng-template>
    <hr>
    <div>
      <button mat-raised-button (click)="openAccounts()" class="dashbutton">Grid Accounts
        <mat-icon aria-hidden="false" aria-label="keyboard_arrow_down icon">keyboard_arrow_down</mat-icon>
      </button>
      <button mat-raised-button (click)="openGridMarket()" class="dashbutton">Grid Market Bids
        <mat-icon aria-hidden="false" aria-label="keyboard_arrow_down icon">keyboard_arrow_down</mat-icon>
      </button>
    </div>

    <div *ngIf="gridAccounts;">
      <app-regacc></app-regacc>
    </div>

    <div *ngIf="gridMarket;">
      <app-gridmarket></app-gridmarket>
    </div>
  </div>
</div>
