<div id="general">
  <h1>
    Grid Operator Portal
  </h1>
  <mat-icon (click)="openBottomSheet()" aria-hidden="false" aria-label="info icon">info</mat-icon>

  <div class="dash">
    <div class="alert">
      <p>Current Alerts:</p>
      <p>No existing alerts</p>
    </div>
    <hr>
    <div>
      <p>Electricity Generated [last 24 hours]</p>
      <p style="text-decoration: underline;">943 kWh</p>
      <p>Electricity Stored</p>
      <p style="text-decoration: underline;">216 kWh</p>
    </div>
<hr>
    <div>
      <button (click)="regacc()" class="dashbutton">Grid Accounts</button>
    </div>

    <div *ngIf="regulatoraccounts;">
      <app-regacc></app-regacc>
    </div>
  </div>
</div>