<div id="general">
  <h1>
    Grid Operator Portal
  </h1>

  <div class="explanation">
      <p>A portal for DexGrid grid operators to review their system and respond</p>
      <ul>
        <li>Consumption and generation</li>
        <li>Red flags</li>
        <li>Scheduled events</li>
        <li>Weather and other variables</li>
      </ul>
    </div>

  <div class="dash">
    <div class="alert">
      <p>Current Alerts:</p>
      <p>No existing alerts</p>
    </div>
    <hr>
    <div>
      <p>Electricity Generated [last 24 hours]</p>
      <p style="text-decoration: underline;">943 kWh</p>
      <p>Electricity Stored</p>
      <p style="text-decoration: underline;">216 kWh</p>
    </div>

    <div>
      <button (click)="regacc()" class="dashbutton">Regulator Accounts</button>
    </div>

    <div *ngIf="regulatoraccounts;">
      <app-regacc></app-regacc>
    </div>
  </div>
</div>