@import "../app.component.scss";

$dashbutton: dashbutton;

.dashbutton {
    // background-color: rgb(161, 44, 44);
    margin-top: 0.8rem;
    margin-right: 2rem;
    // border-radius: 1.5rem;
    // width: 10rem;
    // height: 3rem;
    // padding: 0rem;
    // border: 0.1rem,rgb(144, 138, 138);
    text-align: center;
    // text-decoration: none;
    display: inline-block;
    cursor: pointer;
    // font-size: 0.9rem;
}

#general {
    padding: 0em 1em;
}

.dash {
    border-color: black;
    border-width: 0.2em;
    // color: white;
    border: 0.2em solid black;
    border-radius: 0.3em;
    padding: 0.8em;

    .alert {
        // background-color: rgb(25, 32, 21);
        // padding: 0.8em;
    }
}


.explanation {
    // background-color: rgba(145, 179, 233, 0.63);
    padding: 0.5em 0.5em 0.5em 0.5em;
    border-radius: 0.5em;
    margin-bottom: 2rem;
}