mat-dialog-content {
    text-align: center;
}

.ngInput {
    // margin-top: 2rem;
    // height: 3rem;
}

.settings-form-one {
    margin: 4rem auto 0;
    position: absolute;
}

.settings-form {
    margin: 0 auto;
    position: relative;
}

.submit {
    display: block;
    position: relative;
    margin: 4rem auto 0;
}