<mat-dialog-content>
  <h1 style="text-align: center;">User Settings</h1>

  <mat-form-field class="settings-form-one">
    <div class="ngInput">
      <label>Your Solar PV System Size:
        <input class="form-control" type="number" min="0" max="999" matInput #pvsystem="ngModel" [(ngModel)]="pvsystem.value" ng-pattern="onlyNumbers"
          id="pvsystem" pattern="^[0-9]+\.[0-9][0-9]$">
      </label>
    </div>
  </mat-form-field>

  <mat-form-field class="settings-form">
    <div class="ngInput">
      <label>Email address:
        <input class="form-control" matInput #email="ngModel" [(ngModel)]="email.value" id="creditAmount">
      </label>
    </div>
  </mat-form-field>

  <mat-form-field class="settings-form">
    <div class="ngInput">
      <label>Your Microgrid:
        <input class="form-control" matInput #grid="ngModel" [(ngModel)]="grid.value" id="grid">
      </label>
    </div>
  </mat-form-field>

  <mat-form-field class="settings-form">
    <div class="ngInput">
      <label>Air Conditioner Size:
        <input class="form-control" matInput #airconditioner="ngModel" [(ngModel)]="airconditioner.value" id="airconditioner">
      </label>
    </div>
  </mat-form-field>

  <mat-form-field class="settings-form">
    <div class="ngInput">
      <label>Total Lighting:
        <input class="form-control" matInput #lighting="ngModel" [(ngModel)]="lighting.value" id="lighting">
      </label>
    </div>
  </mat-form-field>

  <mat-form-field class="settings-form">
    <div class="ngInput">
      <label>Refridgerator Size:
        <input class="form-control" matInput #refridgerator="ngModel" [(ngModel)]="refridgerator.value" id="refridgerator">
      </label>
    </div>
  </mat-form-field>

  <mat-form-field class="settings-form">
    <div class="ngInput">
      <label>Water Heater:
        <input class="form-control" matInput #waterheater="ngModel" [(ngModel)]="waterheater.value" id="waterheater">
      </label>
    </div>
  </mat-form-field>

  <mat-form-field class="settings-form">
    <div class="ngInput">
      <label>Total Appliance Consumption:
        <input class="form-control" matInput #totalAppliances="ngModel" [(ngModel)]="totalAppliances.value" id="totalAppliances">
      </label>
    </div>
  </mat-form-field>

  <mat-form-field class="settings-form">
    <div class="ngInput">
      <label>Battery Size:
        <input class="form-control" matInput #batterySize="ngModel" [(ngModel)]="batterySize.value" id="creditAmount">
      </label>
    </div>
  </mat-form-field>

  <mat-form-field class="settings-form">
    <div class="ngInput">
      <label>Update Your Name:
        <input class="form-control" matInput #displayName="ngModel" [(ngModel)]="displayName.value" id="displayName">
      </label>
    </div>
  </mat-form-field>


  <button mat-raised-button ng-pattern="onlyNumbers" color="primary" class="submit" (click)="submitCreditAmount(pvsystem.value, email.value, grid.value, displayName.value)">Submit
    <mat-icon aria-hidden="false" aria-label="done icon">done</mat-icon>
  </button>

  <button mat-raised-button color="warn" (click)="closeDialog()" class="close-button">Close
    <mat-icon aria-hidden="false" aria-label="done icon">close</mat-icon>
  </button>
</mat-dialog-content>
