mat-dialog-content {
    text-align: center;
}

.ngInput {
    // margin-top: 2rem;
    // height: 3rem;
}

.settings-form-one {
    margin: 2rem 1rem 0;
    // position: absolute;
}

.settings-form {
    margin: 0rem 1rem;
    position: relative;
    @media only screen and (max-width: 600px) {
        margin: 0.8rem auto;
    }
}

.submit {
    display: block;
    position: relative;
    margin: 2rem auto 0;
}

.close-button {
    margin-top: 1rem;
}