<!-- <div id="wrap" multi-col>

  <div id="bill" class="dashcard">
    <div class="dashcard-inner">
      <p class="dashcard-title">#1</p>
      <p>San Juan</p>
      <p>56 kW Solar PV</p>
      <p>3.4 RECS [Last 24 hours]</p>
    </div>
  </div>

  <div id="bill" class="dashcard">
    <div class="dashcard-inner">
      <p class="dashcard-title">#2</p>
      <p>Guayama</p>
      <p>33 kW Solar PV</p>
      <p>2.4 RECS [Last 24 hours]</p>
    </div>
  </div>

  <div id="bill" class="dashcard">
      <div class="dashcard-inner">
        <p class="dashcard-title">#3</p>
        <p>Coco</p>
        <p>478 kW Solar PV</p>
        <p>37 RECS [Last 24 hours]</p>
      </div>
    </div>

  <div id="bill" class="dashcard">
      <div class="dashcard-inner">
        <p class="dashcard-title">#4</p>
        <p>Patillas</p>
        <p>1.5 MW Solar PV</p>
        <p>87 RECS [Last 24 hours]</p>
      </div>
    </div>

  <div id="bill" class="dashcard">
      <div class="dashcard-inner">
        <p class="dashcard-title">#5</p>
        <p>Salinas</p>
        <p>489 kW Solar PV</p>
        <p>55 RECS [Last 24 hours]</p>
      </div>
    </div>

  <div id="bill" class="dashcard">
      <div class="dashcard-inner">
        <p class="dashcard-title">#6</p>
        <p>Santa Isabela</p>
        <p>12 kW Solar PV</p>
        <p>1.4 RECS [Last 24 hours]</p>
      </div>
    </div>

  <div id="bill" class="dashcard">
      <div class="dashcard-inner">
        <p class="dashcard-title">#7</p>
        <p>Ponce</p>
        <p>58 kW Solar PV</p>
        <p>3.8 RECS [Last 24 hours]</p>
      </div>
    </div>

  <div id="bill" class="dashcard">
      <div class="dashcard-inner">
        <p class="dashcard-title">#8</p>
        <p>Yabucao</p>
        <p>79 kW Solar PV</p>
        <p>4.1 RECS [Last 24 hours]</p>
      </div>
    </div>

  <div id="bill" class="dashcard">
      <div class="dashcard-inner">
        <p class="dashcard-title">#9</p>
        <p>Ponce</p>
        <p>45 kW Solar PV</p>
        <p>3.2 RECS [Last 24 hours]</p>
      </div>
    </div>

  <div id="bill" class="dashcard">
      <div class="dashcard-inner">
        <p class="dashcard-title">#10</p>
        <p>Quebradillas</p>
        <p>190 kW Solar PV</p>
        <p>5.8 RECS [Last 24 hours]</p>
      </div>
    </div>

  <div id="bill" class="dashcard">
      <div class="dashcard-inner">
        <p class="dashcard-title">#11</p>
        <p>Arecibo</p>
        <p>45 kW Solar PV</p>
        <p>2.4 RECS [Last 24 hours]</p>
      </div>
    </div>

  <div id="bill" class="dashcard">
      <div class="dashcard-inner">
        <p class="dashcard-title">#12</p>
        <p>Vega Baja</p>
        <p>870 kW Solar PV</p>
        <p>6.9 RECS [Last 24 hours]</p>
      </div>
    </div>
</div> -->

<div id="prmap">
    <p>Geolocation of REC producing sites:</p>
    <img src="../../assets/PRRECs.png" alt="">
  </div>


<div class="card-div" fxLayout="row wrap"
fxLayoutGap="0.6em">

  <mat-card>
        <p class="card-title">#1</p>
        <mat-icon aria-hidden="false" aria-label="printer icon">print</mat-icon>
        <mat-icon aria-hidden="false" aria-label="pdf icon">picture_as_pdf</mat-icon>
    <hr>
    <mat-card-content>
      <p>San Juan</p>
      <p>56 kW Solar PV</p>
      <p>3.4 RECS [Last 24 hours]</p>
    </mat-card-content>
  </mat-card>

  <mat-card>
      <p class="card-title">#2</p>
      <mat-icon aria-hidden="false" aria-label="printer icon">print</mat-icon>
      <mat-icon aria-hidden="false" aria-label="pdf icon">picture_as_pdf</mat-icon>
  <hr>
  <mat-card-content>
    <p>San Juan</p>
    <p>56 kW Solar PV</p>
    <p>3.4 RECS [Last 24 hours]</p>
  </mat-card-content>
</mat-card>

<mat-card>
    <p class="card-title">#3</p>
    <mat-icon aria-hidden="false" aria-label="printer icon">print</mat-icon>
    <mat-icon aria-hidden="false" aria-label="pdf icon">picture_as_pdf</mat-icon>
<hr>
<mat-card-content>
  <p>San Juan</p>
  <p>56 kW Solar PV</p>
  <p>3.4 RECS [Last 24 hours]</p>
</mat-card-content>
</mat-card>

<mat-card>
    <p class="card-title">#4</p>
    <mat-icon aria-hidden="false" aria-label="printer icon">print</mat-icon>
    <mat-icon aria-hidden="false" aria-label="pdf icon">picture_as_pdf</mat-icon>
<hr>
<mat-card-content>
  <p>San Juan</p>
  <p>56 kW Solar PV</p>
  <p>3.4 RECS [Last 24 hours]</p>
</mat-card-content>
</mat-card>

<mat-card>
    <p class="card-title">#5</p>
    <mat-icon aria-hidden="false" aria-label="printer icon">print</mat-icon>
    <mat-icon aria-hidden="false" aria-label="pdf icon">picture_as_pdf</mat-icon>
<hr>
<mat-card-content>
  <p>San Juan</p>
  <p>56 kW Solar PV</p>
  <p>3.4 RECS [Last 24 hours]</p>
</mat-card-content>
</mat-card>

<mat-card>
    <p class="card-title">#6</p>
    <mat-icon aria-hidden="false" aria-label="printer icon">print</mat-icon>
    <mat-icon aria-hidden="false" aria-label="pdf icon">picture_as_pdf</mat-icon>
<hr>
<mat-card-content>
  <p>San Juan</p>
  <p>56 kW Solar PV</p>
  <p>3.4 RECS [Last 24 hours]</p>
</mat-card-content>
</mat-card>

<mat-card>
    <p class="card-title">#7</p>
    <mat-icon aria-hidden="false" aria-label="printer icon">print</mat-icon>
    <mat-icon aria-hidden="false" aria-label="pdf icon">picture_as_pdf</mat-icon>
<hr>
<mat-card-content>
  <p>San Juan</p>
  <p>56 kW Solar PV</p>
  <p>3.4 RECS [Last 24 hours]</p>
</mat-card-content>
</mat-card>

<mat-card>
    <p class="card-title">#8</p>
    <mat-icon aria-hidden="false" aria-label="printer icon">print</mat-icon>
    <mat-icon aria-hidden="false" aria-label="pdf icon">picture_as_pdf</mat-icon>
<hr>
<mat-card-content>
  <p>San Juan</p>
  <p>56 kW Solar PV</p>
  <p>3.4 RECS [Last 24 hours]</p>
</mat-card-content>
</mat-card>

<mat-card>
    <p class="card-title">#9</p>
    <mat-icon aria-hidden="false" aria-label="printer icon">print</mat-icon>
    <mat-icon aria-hidden="false" aria-label="pdf icon">picture_as_pdf</mat-icon>
<hr>
<mat-card-content>
  <p>San Juan</p>
  <p>56 kW Solar PV</p>
  <p>3.4 RECS [Last 24 hours]</p>
</mat-card-content>
</mat-card>

<mat-card>
    <p class="card-title">#10</p>
    <mat-icon aria-hidden="false" aria-label="printer icon">print</mat-icon>
    <mat-icon aria-hidden="false" aria-label="pdf icon">picture_as_pdf</mat-icon>
<hr>
<mat-card-content>
  <p>San Juan</p>
  <p>56 kW Solar PV</p>
  <p>3.4 RECS [Last 24 hours]</p>
</mat-card-content>
</mat-card>

<mat-card>
    <p class="card-title">#11</p>
    <mat-icon aria-hidden="false" aria-label="printer icon">print</mat-icon>
    <mat-icon aria-hidden="false" aria-label="pdf icon">picture_as_pdf</mat-icon>
<hr>
<mat-card-content>
  <p>San Juan</p>
  <p>56 kW Solar PV</p>
  <p>3.4 RECS [Last 24 hours]</p>
</mat-card-content>
</mat-card>

<mat-card>
    <p class="card-title">#12</p>
    <mat-icon aria-hidden="false" aria-label="printer icon">print</mat-icon>
    <mat-icon aria-hidden="false" aria-label="pdf icon">picture_as_pdf</mat-icon>
<hr>
<mat-card-content>
  <p>San Juan</p>
  <p>56 kW Solar PV</p>
  <p>3.4 RECS [Last 24 hours]</p>
</mat-card-content>
</mat-card>

</div>
