
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$dexgrid-primary: mat-palette($mat-indigo);
$dexgrid-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$dexgrid-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$dexgrid-theme: mat-light-theme($dexgrid-primary, $dexgrid-accent, $dexgrid-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($dexgrid-theme);


// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$dexgrid-primary: mat-palette($mat-indigo);
$dexgrid-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$dexgrid-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$dexgrid-theme: mat-light-theme($dexgrid-primary, $dexgrid-accent, $dexgrid-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($dexgrid-theme);

/* You can add global styles to this file, and also import other style files */

html { height: 100%; width: 100%; margin: 0; justify-content: center; min-width:fit-content;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; justify-content: center;}
footer{ 
    margin-top: 3rem;
    // position: absolute; 
    // left: 0; right: 0; 
    // display: flex;
    height: 10rem;
    // bottom: 0;
}
