#regulator {
    margin: 0em 0.2em;
}

#regtitle {
    background-color: rgba(145, 179, 233, 0.63);
    padding: 0.5em 0.5em 0.5em 0.5em;
    border-radius: 0.5em;
    margin-bottom: 2rem;
}

#dashboard {
    background-color: rgba(168, 164, 164, 0.438);
    padding: 0.3em;

    button {
        margin: 0 0.5em;
    }

    #welcome {
        p {
            font-size: 1.5em;
            text-decoration: underline;
        }
    }

    #rec {
        background-color: rgba(87, 168, 91, 0.808);
        padding: 0.2em;
        border-radius: 0.4em;

        @media only screen and (min-width: 600px) {
            float: right;
        }
    }

    #prmap {
        border: black;
        img {
            width: 50%;
            height: auto;
            border-radius: 0.6em;
        }
    }
}

#derbutton {
    width: 8em;
    height: 3em;
    background-color: rgb(141, 61, 61);
    font-size: 1em;
    margin-bottom: 1.5em;
}