<div id="regulator">
<h1>Regulator Portal</h1>

  <div id="regtitle">
    <p>A portal for grid regulators to look over the status of:</p>
    <ul>
      <li>Total and individual generation</li>
      <li>Any flagged issues with the grid or market</li>
      <li>Track generation, transfer, and consumption of renewable energy credits</li>
    </ul>
  </div>

  <div id="dashboard">
    <div id="welcome">
      <p>Welcome to your Regulator Dashboard!</p>
    </div>

    <div id="rec">
      <p>Total Current RECs: 10,435</p>
    </div>

    <div id="prmap">
      <p>Geolocation of REC producing sites:</p>
      <img src="../../assets/PRRECs.png" alt="">
    </div>

    <div id="generation">
      <p>Generation in last 24 hours: 112,678 MWh</p>
    </div>

  </div>

</div>
