#regulator {
    margin: 0em 1em;
}

#regtitle {
    // background-color: rgba(145, 179, 233, 0.63);
    padding: 0.5em 0.5em 0.5em 0.5em;
    border-radius: 0.5em;
    margin-bottom: 2rem;
}

#top {
    padding-bottom: 3em;
}

#dashboard {
    // background-color: rgba(168, 164, 164, 0.438);
    padding: 0.3em;
    border: 0.1em solid black;
    border-radius: 0.2em;

    p {
        text-align: center;
    }

    .buttons {
        text-align: center;
    }

    button {
        margin: 0.8em 0.5em;
    }

    #welcome {
        p {
            font-size: 1.5em;
            text-decoration: underline;
        }
    }

    #rec {
        background-color: #FF9954;
        padding: 0.2em;
        border-radius: 0.4em;
        border: 2px solid black;

        @media only screen and (min-width: 600px) {
            float: right;
        }
    }
}

#derbutton {
    width: 8em;
    height: 3em;
    background-color: rgb(141, 61, 61);
    font-size: 1em;
    margin-bottom: 1.5em;
}