<div id="customer">
  <h1>Welcome to your Customer Dashboard</h1>

  <mat-icon (click)="openBottomSheet()" aria-hidden="false" aria-label="info icon">info</mat-icon>

  <div id="dashboard">

    <mat-card>
      <p class="custitle">Customer Dashboard</p>
    </mat-card>

    <mat-card id="cus-info">
        <p>Address- 100 Calle San Francisco, San Juan, Puerto Rico 00901</p>
        <div id="bill">
            <p id="billing">Customer Number- #34920</p> <button (click)="onCreate()" class="billbutton">Terms and Conditions</button>
        </div>
        <p>My Profile- 0xtY4....9We4</p>
    </mat-card>

    <div fxLayout="row wrap"
    fxLayoutGap="1em">
      <mat-card class="infocard">
        <p>Billing</p>
        <hr>
        <mat-card-content>
          <p>Prepayment this Month (December): $100</p>
          <p>Credit Left: $63</p>
          <mat-progress-bar mode="determinate" value="63"></mat-progress-bar>
          <hr>
          <p>Estimated duration of credits:</p>
          <p id="credits-left">20 days</p>
          <mat-icon (click)="openBottomWarning()" aria-hidden="false" aria-label="warning icon">warning</mat-icon>
        </mat-card-content>
      </mat-card>

      <mat-card class="infocard">
        <p>DER Performance</p>
        <hr>
        <mat-card-content>
          <p>Solar System: 29.3 kWh [December]</p>
          <p>Battery: 64 kWh charged</p>
          <mat-progress-bar mode="determinate" value="97"></mat-progress-bar>
        </mat-card-content>
      </mat-card>

      <mat-card class="infocard">
        <p>Consumption</p>
        <hr>
        <mat-card-content>
          <p>Last 30 days: 32 kWh</p>
          <p>Last 12 months, monthly: 40 kWh</p>
          <p style="font-weight: bold; display: inline-block; margin-right: 0.3em;">Average kWh rate: $0.125</p>
          <mat-icon (click)="openDialog()" aria-hidden="false" aria-label="warning icon">warning</mat-icon>

        </mat-card-content>
      </mat-card>


      <mat-card class="infocard">
        <p>Renewable Energy Credits</p>
        <hr>
        <mat-card-content>
          <p>Generated, past 12 months: 3 RECs</p>
          <p>Consumed / Purchased: 0.00 RECs</p>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="chart-wrapper">
        <canvas baseChart 
            [datasets]="lineChartData" 
            [labels]="lineChartLabels" 
            [options]="lineChartOptions"
            [colors]="lineChartColors" 
            [legend]="lineChartLegend" 
            [chartType]="lineChartType" 
            [plugins]="lineChartPlugins">
        </canvas>
    </div>

    <div id="buttons">
        <button (click)="history()" class="dashbutton">Previous Consumption</button>

        <!-- <button (click)="sellrec()" class="dashbutton">Power Purchase Agreement</button> -->
      
        <button (click)="sellrec()" class="dashbutton">Sell Your RECs</button>
    </div>

    <div *ngIf="should_open_sellrec;">
      <app-sellrec></app-sellrec>
      <!-- <ng-template #empty>Nothing Opened</ng-template> -->
    </div>

    <div *ngIf="should_open_history;">
      <app-history></app-history>
      <!-- <ng-template #empty>Nothing Opened</ng-template> -->
    </div>

  </div>
</div>